.plus::before{
    content: '+';
} 
.minus::before{
    content: '-';
} 
li{
    list-style-type: none;
    cursor: pointer;
}
.display-none{
    display: none;
}
.bold{
    font-weight: 800;
}
.non-bold{
    font-weight: 400;
}
.red{
    color: red;
}